---
# SPDX-FileCopyrightText: (C) 2025 - 2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: "[CI/CD] Update All Pull Requests"
run-name: "[CI/CD] Update All Pull Requests"

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
      - release-*
  workflow_dispatch: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  update-pull-requests:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: "Update pull requests"
        uses: open-edge-platform/orch-ci/.github/actions/pr_updater@37271281f38e42b1a8803ee363496562db7cc39b
        with:
          github_token: ${{ secrets.GH_PAT }}
