---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: "[CI] Clean self-hosted runner"
run-name: "[CI] Clean self-hosted runner"

on:
  workflow_dispatch: {}

# Only run at most 1 workflow concurrently per PR or per branch to keep costs down
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  clean-runner:
    name: "Clean self-hosted runner"
    runs-on: [to-be-cleaned]
    steps:
      - name: "Clean workdir before checkout"
        run: |
          sudo rm -rf $GITHUB_WORKSPACE/* || true
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Cleanup
        if: always()
        uses: ./.github/actions/cleanup
        with:
          system-prune: "true"
